@{
    ViewData["Title"] = "Home Page";
}
<h3 class="border-white m-3">Сервис для синхронизации ваших плейлистов с разных музыкальных платформ</h3>
<h4 class="border-white m-4">На данный момент для синхронизации доступны:</h4>
<ul>
    <li><h4 class="border-white">ВК Музыка</h4></li>
    <li><h4 class="border-white">Яндекс Музыка</h4></li>
</ul>