@model Synchronizer.Core.DTO.VkLoginDto

@{
    ViewBag.Title = "Авторизация ВК";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<form asp-action="VkAccountForm" method="post">
    <div asp-validation-summary="All"></div>
    <p>
        <label asp-for="Login">Логин</label>
        <input asp-for="Login"/>
    </p>
    <p>
        <label asp-for="Password">Пароль</label>
        <input asp-for="Password"/>
    </p>
    <p>
        <label asp-for="Code2FA">Код двуфакторной авторизации</label>
        <input asp-for="Code2FA"/>
    </p>
    <button type="submit">Отправить</button>
</form>