@model Synchronizer.WebApp.Models.Synchronizer.LinkedAccounts.LinkedVkAccount

@{
    ViewBag.Title = "Vk.Music";
    Layout = "_Layout";
}

<div class="card m-3 d-flex" style="height:22rem; width:60rem;">
    <div class="row gx-5">
        <div class="col mt-2 ms-2 d-flex align-content-center" style="max-width: max-content; min-width:20rem; min-height:20rem;">
            <div class="justify-content-end d-flex" style="max-width:25rem; max-height:20rem; min-width: 15rem; min-height:15rem;">
                <img alt="Тут должно быть фото профиля" class="img-fluid"
                     style="background-color:lightgrey; max-height:20rem; min-width:19rem;" src="@Model.ImageUrl">
                <span class="position-absolute top-0 badge bg-secondary">
                    <img alt="vk logo" style="max-width:6rem; max-height:2rem;"
                         src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/VK_Music_Full_Logo.svg/1280px-VK_Music_Full_Logo.svg.png">
                </span>
            </div>
        </div>
        <div class="col ps-0">
            <div class="row mt-2">
                <h2>Vk.Music</h2>
            </div>
            <div class="row align-self-center">
                <h3>@Model.Name</h3>
            </div>
        </div>
    </div>
</div>