@model Synchronizer.WebApp.Models.Synchronizer.LinkedAccounts.LinkedVkAccount

@{
    ViewBag.Title = "Vk.Music";
    Layout = "_Layout";
}

<h2>Vk.Music</h2>
<img alt="vk logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/VK_Music_Full_Logo.svg/1280px-VK_Music_Full_Logo.svg.png" height="40px" width=""/>
<h3>@Model.Name</h3>
<img alt="" src="@Model.ImageUrl" width="100px"/>