@model Synchronizer.WebApp.Models.Synchronizer.LinkedAccounts.LinkedYandexAccount

@{
    ViewBag.Title = "Yanex.Music";
    Layout = "_Layout";
}
<img alt="yandex logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Yandex_Music_icon.svg/2048px-Yandex_Music_icon.svg.png" width="40px"/>
<h2>Yandex</h2>
<h3>@Model.Name</h3>
<img alt="" src="@Model.ImageUrl" width="100px"/>